#testi {
    background-color: var(--main-color-4);
}

.testi_card {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    min-height: 290px;
    padding: 2rem;
    overflow: hidden;

    @include devices(sm) {
        min-height: 100%;
    }
}

.testi_details_wrap {
    @include flexbox(flex-start, center);
    gap: 1rem;
    border-bottom: 1px solid var(--text-muted);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.testi_img {
    @include dimension(60px, 60px);
    border-radius: 50%;
    overflow: hidden;

    img {
        @include img-fit;
    }
}

.testi_review_wrap {
    position: relative;

    .quote_icon {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        color: var(--main-color-2);
        opacity: 0.2;
    }

    .ratings {
        font-size: 0.8rem;
        color: sandybrown;
    }

    .testi_msg {
        margin-top: 1rem;
    }

}