:root {
    --main-font: "Roboto", sans-serif;
    --main-font-2: "RobotoBold", sans-serif;
    --main-font-3: "RobotoMedium", sans-serif;

    --main-color: #1f2750;
    --main-color-2: #4C57D5;
    --main-color-3: #0f1534;
    --main-color-4: #e0e2fc;

    --text-gray: #434549;
    --text-light: #e7e8ec;
    --text-muted: #a9afc3;

    --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}